.cornealtransplant-title{
    color: #FF69B4;
    background-color: #000000cc;
    padding: 5px;
    width: 50%;
    font-size: 50px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50px;
    box-shadow: 10px 10px 15px gray;
}
.cornealtransplant{
    margin-top: 10px;
    padding: 20px;
    background-image: linear-gradient(to bottom, #F0E68C, white);
}
.cornealtransplant-doctor{
    margin-top: 10px;
    background-image: linear-gradient(to bottom, #FFA07A, white);
}